## import:
import("garchx")
import("hier.part")
import("matrixStats")
import("numDeriv")
import("zoo")

importFrom("stats", "lm", "pchisq", "cor", "sd", "coef", "dnorm", "fitted", "logLik", "constrOptim", "nobs", "pnorm", "quantile", "residuals", "rnorm", "runif", "predict", "vcov")
importFrom("utils", "toLatex", "tail")

export(

  # main functions: 
  "tv", "tvgarchSim", "tvgarchTest", "tvObj", "garchObj", "tvgarch", 

  # extraction functions: 
  "coef.tvgarch", "fitted.tvgarch", "logLik.tvgarch", "nobs.tvgarch", "predict.tvgarch", "print.tvgarch", "quantile.tvgarch", "residuals.tvgarch", "toLatex.tvgarch",
  "vcov.tvgarch"

)
    
# methods for class tvgarch:

S3method("coef", "tvgarch")
S3method("fitted", "tvgarch")
S3method("logLik", "tvgarch")
S3method("nobs", "tvgarch")
S3method("predict", "tvgarch")
S3method("print", "tvgarch")
S3method("quantile", "tvgarch")
S3method("residuals", "tvgarch")
S3method("toLatex", "tvgarch")
S3method("vcov", "tvgarch")